.clients {
	display: flex;
	flex-direction: column;
	max-width: 500px;

}

.clients p {
	font-weight: bold;
 align-self: center;
	}
.clientPhotos{
	display: blok;	
}

.clients img {
  max-width: 80px;
  height: 80px; 
}

.client {
	border: 3px solid black;
	margin: 10px 0;	
}

.paging {
	align-self: center;
	display: flex;
}

.numberPage {
	border: 1px solid black;
	border-radius: 2px;
	margin: 0 2px;
	padding: 5px;
}

.numberPage.active {
	background-color: lightcoral; /* Цвет фона активного пункта */
}

.paging :hover {
        color: #ffe; /* Цвет текста активного пункта */
        background-color: #5488af; /* Цвет фона активного пункта */
      }